:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 1e-9px;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

#form-container {
  width: 400px;
}

input {
  font-size: 20px;
}

button {
  font-size: 18px;
  background: rgb(10, 218, 121);
  color: white;
}

.validator-error-message {
  color: red;
}