<form
  fxLayout="column"
  fxLayoutGap="10px"
  [ngStyle]="{width: '400px'}"
>
  <!-- Name -->
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Nome"
      [formControl]="formGroup.controls.name"
    >
    <mat-hint *ngIf="formGroup.controls.name.invalid">
      <span class="validator-error-message">
        <div *ngIf="submitted && formGroup.controls.name.hasError('required')">Esse campo é obrigatório</div>
      </span>
    </mat-hint>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <input 
      matInput
      type="email"
      placeholder="Email"
      [formControl]="formGroup.controls.email"
    >
    <mat-hint *ngIf="formGroup.controls.email.invalid">
      <span class="validator-error-message">
        <div *ngIf="submitted && formGroup.controls.email.hasError('required')">Esse campo é obrigatório</div>
        <div *ngIf="submitted && formGroup.controls.email.hasError('email')">Email inválido</div>        
      </span>
    </mat-hint>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field>
    <input 
      matInput
      type="password"
      placeholder="Senha"
      [formControl]="formGroup.controls.password"
    >
    <mat-hint *ngIf="formGroup.controls.password.invalid">
      <span class="validator-error-message">
        <div *ngIf="submitted && formGroup.controls.password.hasError('required')">Esse campo é obrigatório</div>
      </span>
    </mat-hint>
  </mat-form-field>

  <!-- Create Button -->
  <button
    mat-raised-button
    (click)="onCreateButton()"
  >
    CRIAR
  </button>
</form>